<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859113504702-m3pcqctndjbladitpe676pgcq8q4petk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859113504702-m3pcqctndjbladitpe676pgcq8q4petk</string>
	<key>API_KEY</key>
	<string>AIzaSyAfD4AIZVvhbuxrzvyrxNQFaSEo_rnCb1o</string>
	<key>GCM_SENDER_ID</key>
	<string>859113504702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gict.notification</string>
	<key>PROJECT_ID</key>
	<string>climate360connect</string>
	<key>STORAGE_BUCKET</key>
	<string>climate360connect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859113504702:ios:28aab31ad7449c613183ef</string>
</dict>
</plist>